[Unit]
Description=BootC u-boot Complete Boot
ConditionKernelCommandLine=!rollback
ConditionPathExists=/ostree/repo
ConditionPathExists=/boot/loader
After=sysinit.target

[Service]
Type=oneshot
ExecStart=fw_setenv bootcount 0

[Install]
WantedBy=multi-user.target
